@charset "ISO-8859-1";

body {
	background-color: rgb(48, 47, 47);
	background-size: inherit;
	background-repeat: round;
}

div {
	background-color: rgb(255,255,255);
	margin-top: 10px;
	padding-bottom: 20px;
	padding-top: 20px;


}

table {
	width: 700px;
	padding: 5px;
	border: none;
	box-shadow: 2px 2px 7px black;
	margin-bottom: 32px;
}


td {

	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	color:antiquewhite;
}

th {
	padding: 12px;
	background-color: rgb(164, 189, 2);
	color:rgb(0, 0, 0);
}

h2 {
	color: antiquewhite;
	padding: 20px;

}

.btns {

	border: 10px black;
	padding: 8px;
	background-color: white;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: black

}

.btns:hover {
	background-color: white;
	transition: 1.3s;
}

.back {
		width: max-content;
	color: white;
	text-decoration: none;
	border: 1px black solid;
	padding: 10px;
	background-color: darkslategray;
	
	position: fixed;
	
}