<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>TEA : LOCATION</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
	<link rel="stylesheet" href="" th:href="@{/css/Locate_us.css}" />
</head>

<body>
	<nav th:replace="~{Navigation::navbar()}"></nav>
	<center>
		<h1 style="color: green; ">Our Location</h1>
		<small style="color: red;font-weight: bold;">Internet required..</small>
	</center>
	<div class="location">
<iframe src="https://www.google.com/maps/place/Bengaluru,+Karnataka/@12.9542802,77.4661268,11z/data=!3m1!4b1!4m6!3m5!1s0x3bae1670c9b44e6d:0xf8dfc3e8517e4fe0!8m2!3d12.9628669!4d77.577509!16zL20vMDljMTc?entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoASAFQAw%3D%3D" 
width="1200" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>	</div>
</body>

</html>